
<div id="topbar" class="d-flex align-items-center fixed-top">
  <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
      <div class="align-items-center d-none d-md-flex">
          <i class="bi bi-clock"></i> <marquee>Monday - Saturday, 8AM to 10PM</marquee>
      </div>
      <div class="d-flex align-items-center">
          <i class="bi bi-phone"></i> <marquee>Call us now +1 5589 55488 55</marquee>
      </div>
      <a routerLink="login" class="login-btn scrollto">Sign in/up</a>

  </div>
</div>


<!-- Header section  -->

<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
      <a routerLink="/" class="logo me-auto"><img src="assets/img/logo.png" alt=""></a>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
              <a class="nav-link" routerLink="about">About</a>
              <a class="nav-link" routerLink="services">Services</a>
              <a class="nav-link" routerLink="department" >Department</a>
              <a class="nav-link" routerLink="doctor" >Doctor</a>
            </div>
          </div>
        </div>
      </nav>
      <a routerLink="appointment" class="appointment-btn "><span class="d-none d-md-inline">Make an</span>Appointment</a>
  </div>
</header>

